<!DOCTYPE html>
{% load i18n %}
<html lang="en">
<head>
     <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
    <title>Kursinis</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'polls:index' %}">Kursinis</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
        {% url 'polls:polls' as link %}
      <li class="{% if link  == request.path %}active{% endif %} nav-item ">
        <a  class="  nav-link" href="{% url 'polls:polls' %}">{% trans "Polls" %}</a>
      </li>
        {% if not user.is_authenticated %}
        {% url 'accounts:signup' as link %}
      <li class="{% if link  == request.path %}active{% endif %} nav-item ">
        <a  class="  nav-link" href="{% url 'accounts:signup' %}">{% trans  "SignUp" %}</a>
      </li>
        {% url 'login' as link %}
      <li class=" {% if link == request.path %}active{% endif %} nav-item ">
        <a class="nav-link" href="/login/">{% trans "Login" %}</a>
      </li>
        {% else %}
        <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{% trans "My Polls" %}</a>
    <div class="dropdown-menu">
        {% url 'polls:user-polls' as link %}
          <a class=" {% if link == request.path %}active{% endif %} dropdown-item" href="{% url 'polls:user-polls' %}">{% trans "My polls" %}</a>
            {% url 'polls:user-create-poll' as link %}
          <a class=" {% if link == request.path %}active{% endif %} dropdown-item" href="{% url 'polls:user-create-poll' %}">{% trans "Create poll" %}</a>
    </div>
  </li>
        <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{user}}</a>
    <div class="dropdown-menu">
        {% url 'accounts:settings' as link %}
      <a class="{% if link  == request.path %}active{% endif %} dropdown-item" href="{% url 'accounts:settings' %}">{% trans "Settings" %}</a>
        {% if perms.auth.can_send_email %}
        {% url 'pollEmail:sendemail' as link %}
      <a class="{% if link  == request.path %}active{% endif %} dropdown-item" href="{% url 'pollEmail:sendemail' %}">{% trans "Send email" %}</a>
        {% endif %}
      <div class="dropdown-divider"></div>
       {% url 'logout' as link %}
      <a  class="{% if link  == request.path %}active{% endif %}  dropdown-item" href="{% url 'logout' %}">{% trans "Logout" %} </a>
    </div>
  </li>
        

        {% endif %}
    </ul>
  </div>
</nav>
<div class="container-fluid ">
    <div class="row">
        {% block content %}
{% endblock %}
    </div>

</div>

 <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js" integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P" crossorigin="anonymous"></script>
    <script src="{% static 'js/choicescript.js' %}"></script>
</body>
</html>