{% extends "website/base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'polls/style.css' %}" type="text/css">
<div class="col mx-auto">
    <div class="mx-auto col-md-6">
        <h2>Recent polls:</h2>
        <hr>
    </div>

    {% if latest_poll_list %}
    {% for question in latest_poll_list %}
    <div class="question mx-auto col-md-6">
          <a href="{% url 'polls:detail' question.id %}">
            <div class="question-text">{{ question.question_text }} <br> <span class="question-user-text">{{ question.user }}</span></div>

        </a>
    </div>

    {% endfor %}
{% else %}
    <p>No polls are available.</p>
{% endif %}
</div>

{% endblock %}
