{% extends "website/base.html" %}
{% load i18n %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'polls/style.css' %}" type="text/css">
<div class="mx-auto ">
    <h2>{% trans "Sign up Form" %}</h2>
        <form method="post">
          {% csrf_token %}
          {% for field in form %}
            <p>
              {{ field.label_tag }}<br>
              {{ field }}
              {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
              {% endfor %}
            </p>
          {% endfor %}
          <button type="submit">{% trans "Sign up" %}</button>
        </form>
</div>
{% endblock %}