{% extends "website/base.html" %}
{% load i18n %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'polls/style.css' %}" type="text/css">
<div class="col mx-auto">
<div class="mx-auto col-md-6">
        <h2>{% trans "Create poll" %}:</h2>
        <hr>
    </div>
<div class="col col-md-6 mx-auto question ">

    <hr>
    <div class="col choices">

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'polls:user-create-poll' %}" method="post">
    {% csrf_token %}
          {% for field in formPoll %}
            <p>
              {{ field.label_tag }}<br>

                {% for f in field%}
                    {{ f }} <br>
                {% endfor %}
              {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
              {% endfor %}
            </p>
          {% endfor %}
        <div>
            {{ formset.management_form }}
        <div id="form_set">
            {% for form in formset.forms %}
                {{form.non_field_errors}}
                {{form.errors}}
                <p class='no_error'>
                    {{ form }}

                </p>
            {% endfor %}
        </div>
        <input type="button" value="{% trans 'Add More' %}" id="add_more">
            <input type="button" value="{% trans 'Delete One' %}" id="delete_one">
        <div id="empty_form" style="display:none">
            <p class='no_error'>
                {{ formset.empty_form }}
            </p>
        </div>
        </div>

<hr>
    <input type="submit" value="{% trans 'Create' %}" {% if not user.is_authenticated %} Disabled {% endif %}>
    </form>
    </div>
</div>
</div>



{% endblock %}



