{% extends "website/base.html" %}
{% load i18n %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'polls/style.css' %}" type="text/css">
<div class="mx-auto ">
   <h2>{% trans "Log in" %}</h2>
    {% if form.errors %}
    <p>{% trans "Cam't find user with such information. Please try again." %}</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>{% trans "Your account doesn't have access to this page. To proceed,
      please login with an account that has access." %}</p>
    {% else %}
      <p>{% trans "Please login to see this page." %}</p>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
      <p>{{ form.username.label_tag }}<br>{{ form.username }}</p>
      <p>{{ form.password.label_tag }}<br>{{ form.password }}</p>
    <input type="submit" value="{% trans 'Login' %}" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
</div>
{% endblock %}